@charset "utf8";

body {
  /*余計な余白を作らないように*/
  margin: 0;
  padding: 0;
  /*ページの横幅が狭くなりすぎないように
    160 + (140 x 4) = 720px
    ↑ロゴ ↑ナビゲーション */
  min-width: 720px;
}


/*-- header --*/
header {
  display: flex;
  margin: 0 auto;
  height: 50px;
  max-width: 980px;
  align-items: center;
}

.logo-pic {
  display: flex;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  padding: 0;
  margin: auto 0 auto auto;
  align-items: center;
}

.nav-box {
  display: table;
  float: right;
  height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li a {
  font-weight: bold;
  display: block;
  padding: 13px;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: gray;
}

nav ul li a:hover {
  color: white;
  background-color: gray;
}

.nav-item {
  width: 140px;
  display: table-cell;
  background-color: white;
}

#nav-contact {
  background-color: orange;
}

#nav-contact:hover {
  background-color: gray;
}
/*-- end header --*/


/*-- main-visual --*/
.main-box {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  /* 画像の大きさに合わせる */
  max-height: 600px;
}

.main-box img {
  width: 100%;
  height: auto;
}
/*-- end main-visual --*/


/*-- covid-info --*/
.covid-info-box {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  /* 画像の大きさに合わせる */
  max-height: 100px;
}

.covid-info-box img {
  width: 100%;
  height: 100%;
}
/*-- end covid-info --*/


/*-- news --*/
.news-box {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  /* 画像の大きさに合わせる */
  max-height: 400px;
}

.news-box img {
  width: 100%;
  height: 100%;
}
/*-- end news --*/

/*-- company-info --*/
.company-info-box {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  /* 画像の大きさに合わせる */
  max-height: 400px;
}

.company-info-box img {
  width: 100%;
  height: 100%;
}
/*-- end company-info --*/

/*-- partner --*/
.partner-box {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  /* 画像の大きさに合わせる */
  max-height: 400px;
}

.partner-box img {
  width: 100%;
  height: 100%;
}
/*-- end partner --*/

/*-- recruit --*/
.recruit-box {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  /* 画像の大きさに合わせる */
  max-height: 400px;
}

.recruit-box img {
  width: 100%;
  height: 100%;
}
/*-- end recruit --*/

/*-- bizcom --*/
.bizcom-box {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  height: 120px;
}

.bizcom-banner {
  display: flex;
  margin: 20px auto;
  /* Bizcomのバナーのサイズ */
  width: 400px;
  height: 80px;
}

.bizcom-banner img {
  width: 100%;
  height: 100%;
}

.bizcom-banner img:hover {
  opacity: 0.6;
}
/*-- end bizcom --*/

/*-- footer --*/
.footer-box {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  /* 画像の大きさに合わせる */
  max-height: 300px;
}

.footer-box img {
  width: 100%;
  height: 100%;
}

.copyright-box {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  height: 20px;
  background-color: blue;
}

.copyright-box small {
  margin: 0 auto;
  color: white;
}
/*-- end footer --*/


/*-------------- 採用情報ページレイアウト ---------*/

/*--breadcrumbは将来的にcommon.cssに移すべき--*/
#breadcrumb {
  width: 840px;
	margin-left: auto;
	margin-right: auto;
}
#breadcrumb ul {
	list-style-type: none;
	padding: 0;
}
#breadcrumb ul li {
	display: inline;
	margin-right: 5px;
}
#breadcrumb li:after {
  content: '>';
  padding: 0 0.2em;
  color: #555;
}
#breadcrumb li:last-child::after {
  content: '';
}

body h1 {
  margin: 0 0 26px 0;
	padding-top: 28px;
	text-align: center;
}

.recruit-msg {
  text-align: center;
}

.recruit_top_bunner {
  margin: auto;
}

#sub {
  position: absolute;
  z-index: 99999;
  top: 320px;
  left: 40px
}



